customwm-X
customwm-wayland
*.embed
*.plist
contrib/luaw/luazh-jit
luazh-jit
luazh-jit.yml
test-theme
*.dSYM/*
workspace.xml
Info.plist

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
/contrib/luaw/luazh-jit.dSYM/Contents/Info.plist
/contrib/luaw/luazh-jit.dSYM/Contents/XResources/DWARF/luazh-jit
/contrib/luaw/luazh-jit
/contrib/luaw/luazh-jit.dSYM/Contents/XResources/Relocations/aarch64/luazh-jit.yml
